:root {
  --main: #ffffff;
  --hero: #06071b;
  --text-color: #000000;
  --btn: #ffff00;
  --grad: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}
body {
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.2) -1.97%,
    rgba(181, 68, 254, 0.2) 89.43%
  );
  font-family: "Inter" sans-serif;
  font-style: normal;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* .container {
  width: 1278px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* ======================header====================== */
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .header-overlay {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header-menu {
    display: flex;
    align-items: center;
  }
  .mobile-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
  }
}

.header-overlay {
  width: 100%;
  position: absolute;
  background: linear-gradient(
    90.03deg,
    rgba(0, 197, 235, 0.3) -1.97%,
    rgba(181, 68, 254, 0.3) 89.43%
  );
  backdrop-filter: blur(17.5px);
  margin-top: 26px;
  z-index: 10;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: var(--main);
}

.header-menu-title:not(:last-child) {
  margin-right: 40px;
}
.navigation-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: var(--main);
}
.navigation-item:hover,
.navigation-item:focus {
  color: var(--hero);
}
@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}
/* ================mobile menu================ */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    z-index: 100;
    background: #07081c;
    background-image: linear-gradient(#00c5eb, #b544fe);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding: 34px 14px 70px 20px;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-men {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-btn {
    border: none;
    background-color: transparent;
    stroke: #ffffff;
    padding: 0;
  }
  .mobile-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 6px;
    padding: 0;
    fill: #ffffff;
    background-color: transparent;
    border: none;
  }

  .mobile-menu-list {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #fcfcfc;
  }
  .mobile-menu-list:not(:last-child) {
    margin-bottom: 36px;
  }
  .mobile-menu-logo {
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
  }
  .menu-wrapper {
    position: relative;
    height: 100%;
  }
  .mobile-menu-wrapp {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mobile-menu-list:nth-child(1) {
    margin-top: 86px;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #fcfcfc;
  }
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .mmb {
    width: 100%;
  }
}

/* ============hero================== */
.hero {
  background-color: #06071b;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding-top: 182px;
    padding-bottom: 122px;
    overflow: hidden;
  }
  .hero-main {
    position: relative;
    z-index: 2;
  }
  .pic-phone {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 395px;
    height: 430x;
    transform: translate(-120px, 275px);
    z-index: 1;
  }
  .big-spraying {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 422px;
    height: 456px;
    transform: translate(-160px, 280px);
  }
  .pic-icon,
  .small-spraying {
    display: none;
  }
  .hero-text-box {
    margin-bottom: 40px;
  }
  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-item {
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 29px;
  color: var(--main);
}
.hero-subtitel {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--main);
}
.hero-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--main);
}
.hero-text::before {
  content: ">";
  width: 7px;
  height: 12px;
  margin-right: 10px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main);
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  border-radius: 5px;
  padding: 12px 60px;
  margin-right: auto;
  margin-left: auto;
}
.btn:hover,
.btn:focus {
  background: var(--btn);
  color: var(--hero);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    padding-top: 142px;
    padding-bottom: 143px;
  }
  .hero-box {
    position: relative;
  }
  .pic-phone {
    width: 336px;
    height: 382px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-41px, 33px);
    z-index: 1;
  }
  .big-spraying {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 422px;
    height: 456px;
    transform: translate(11px, 211px);
  }
  .pic-icon {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(44%, 43%);
    width: 363px;
    height: 352px;
  }
  .hero-text-box {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 145px;
    padding-bottom: 146px;
  }
  .hero-box {
    position: relative;
  }
  .hero-text-box {
    margin-bottom: 40px;
  }
  .hero-item {
    width: 442px;
  }
  .pic-phone {
    width: 459px;
    height: 489px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-66px, -45px);
    z-index: 1;
  }

  .pic-icon {
    width: 540px;
    height: 418px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-62%, 27%);
  }
  .big-spraying {
    width: 472px;
    height: 553px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, -25%);
  }
  .small-spraying {
    position: absolute;
    width: 290px;
    height: 58px;
    top: 30%;
    left: 10%;
  }
}

/* =================key features================== */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .about {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-subtitel {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 40px;
  }
  .about-pic {
    max-width: 280px;
    max-height: 409px;
    margin-bottom: 40px;
  }
  .title {
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
  }
}

.key {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--text-color);
}
.text-desc {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color);
}
.key-text {
  position: relative;
}
.text::before {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-124%);
  display: block;
  content: "";
  background-image: url(../images/icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 28px;
  height: 28px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    padding-top: 31px;
    padding-bottom: 22px;
    margin-right: auto;
    margin-left: auto;
  }
  .about-subtitel {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .text-desc {
    width: 238px;
    margin-bottom: 80px;
  }
  .about-box {
    position: relative;
  }
  .about-pic {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-28%);
    max-width: 467px;
    max-height: 592px;
  }
  .link {
    display: flex;

    flex-direction: column;
    align-items: end;
  }
  .key-text:nth-child(6) {
    align-self: start;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 100px 152px;
  }
  .key {
    margin-bottom: 40px;
    text-align: center;
  }
  .about-box {
    display: flex;
    justify-content: space-between;
    width: 970px;
  }
  .text-desc {
    width: 220px;
  }
  .about-pic {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0%, 0%);
    max-width: 396px;
    max-height: 601px;
  }
  .about-subtitel {
    margin-bottom: 141px;
    max-width: 886px;
  }
  .link {
    display: flex;
    flex-wrap: wrap;
    column-gap: 492px;
  }

  .key-text {
    display: block;
    flex-basis: calc(100% - 492px) / 2;
  }

  .about-box {
    position: relative;
  }
  .key-text {
    position: relative;
  }

  .line {
    position: absolute;
    transform: translate(-3%, -15%);
    border: 1px dashed red;

    width: 712px;
    height: 523px;
  }
  .about-pic {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -17%);
    width: 396px;
    height: 601px;
    z-index: 100;
  }
}

/*=================video==============  */
.video {
  background: var(--hero);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .video {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .vid {
    margin-bottom: 24px;
  }
  .video-descr {
    margin-bottom: 24px;
    font-size: 14px;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vector-box {
    margin-bottom: 40px;
  }
}
.vid {
  color: #ffffff;
}
.video-descr {
  font-weight: 500;
  line-height: 1.18;
  color: var(--main);
}
.vector-box {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .vid {
    margin-bottom: 20px;
  }
  .video-descr {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .vector-box {
    margin-bottom: 40px;
  }
  .video-pic {
    width: 401px;
    height: 258px;
  }
}

@media screen and (min-width: 1280px) {
  .video {
    padding-top: 60px;
    padding-bottom: 60px;
    background: var(--hero);
  }
  .vid {
    margin-bottom: 20px;
  }
  .video-descr {
    margin-bottom: 40px;
    font-size: 16px;
    width: 478px;
  }
  .video-container {
    display: flex;
    align-items: center;
  }
  .video-pic {
    width: 501px;
    height: 282px;
  }
  .video-box {
    margin-right: auto;
  }
}

.vector-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}
.vector-list:first-child {
  margin-right: 20px;
}

/* ==============our team============ */
@media screen and (min-width: 320px) {
  .team {
    padding-top: 50px;
  }
  .our-team {
    text-align: center;
    font-family: "Inter";
    font-style: normal;
    margin-bottom: 14px;
    font-size: 20px;
    line-height: 1.2;
    color: var(--text-color);
  }
  .team-descr {
    margin-bottom: 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    color: var(--text-color);
  }
  .team-box {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .card {
    background: linear-gradient(
        105.09deg,
        rgba(0, 197, 235, 0.5) -13.66%,
        rgba(181, 68, 254, 0.5) 104.34%
      ),
      #06071b;
    backdrop-filter: blur(17.5px);
    border-radius: 15px;
    padding: 16px 16px 12px 16px;
  }

  .pic {
    margin-bottom: 24px;
  }

  .name {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: var(--main);
    margin-bottom: 12px;
  }
  .name-item {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--main);
  }
}

@media screen and (max-width: 767px) {
  .card:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 80px;
  }
  .our-team {
    margin-bottom: 40px;
    font-size: 24px;
  }
  .team-descr {
    font-size: 16px;
    line-height: 1.5;
  }

  .card {
    padding: 20px 20px 20px 16px;
    flex-basis: calc((100% - 32px) / 2);
    width: 336px;
  }
  /* .pic {
    width: 296px;
  } */
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .team-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .our-team {
    margin-bottom: 80px;
  }
  .team-descr {
    margin-bottom: 80px;
  }
  .card {
    padding: 14px 12px 12px 12px;
    width: 288px;
  }
  .team-box {
    display: flex;
    gap: 32px;
  }
}
/* ==================overlay================== */
.overlay {
  background-color: rgb(79, 162, 214, 0.6);
  font-size: 14px;
  padding: 20px 10px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 500ms linear;
  width: 100%;
  height: 100%;
}
.card:hover .overlay {
  border-radius: 15px;
  transform: translate(0, 0);
}
.overlay-wrapper {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

/* ================our costumers================== */
.slider {
  padding-top: 80px;
  padding-bottom: 100px;
}
.costumer {
  display: flex;
  justify-content: center;
}
.cost {
  margin-bottom: 40px;
}
.costumer-pic {
  margin-right: auto;
  margin-left: auto;
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}

.slider-title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--text-color);
}
.slider-title-from {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: var(--text-color);
}
.slider-title-about {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}
/* ==================footer============= */
@media screen and (min-width: 320px) {
  footer {
    padding-top: 40px;
    padding-bottom: 22px;
  }
  .footer-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
    margin-bottom: 40px;
  }
  .footer-title-item {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main);
  }
  .footer-about {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    color: var(--main);
    margin-bottom: 40px;
  }
  .soc-box {
    display: flex;
    margin-bottom: 40px;
  }
  .footer-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    background: var(--grad);
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    color: var(--main);
    padding: 12px 60px;
    border-color: transparent;
  }
  .footer-contacts {
    margin-bottom: 40px;
    gap: 12px;
  }
}
footer {
  background: var(--hero);
}
.form-content {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border-color: transparent;
  color: #00c5eb;
  padding: 11px 8px;
  margin-bottom: 20px;
}
.form-content::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939eac;
}
.form-content:hover,
.form-content:focus {
  border: 5px solid #e1e109;
  color: #b544fe;
  outline: none;
}

.form-content-text {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  height: 162px;
  resize: none;
  border-color: transparent;
  color: #00c5eb;
  padding: 12px 8px;
  margin-bottom: 20px;
}
.form-content-text::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #939eac;
}
.form-content-text:hover + ::placeholder,
.form-content-text:focus {
  border: 5px solid #e1e109;
  color: #b544fe;
  outline: none;
}

.footer-btn:hover,
.footer-btn:focus {
  background: var(--hero);
  border-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%) 1 1 1;
  color: var(--main);
  border-radius: 5px;
}
.footer-text {
  padding: 20px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main);
}
.footer-line {
  width: auto;
  outline: 1px solid #ffffff;
}

.soc-box-title:not(:last-child) {
  margin-right: 14px;
}
.soc-box-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
}
.soc-box-wrap:hover,
.soc-box-wrap:focus {
  background: #f3ef0d;
  fill: #000000;
}
.tel {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
  color: var(--main);
}
.tel:hover,
.tel:focus {
  background: var(--btn);
  color: var(--hero);
}
.mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: var(--main);
}
.mail:hover,
.mail:focus {
  background: var(--btn);
  color: var(--hero);
}
.contacts-list:nth-child(1) {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 74px;
    padding-bottom: 28px;
  }
  .footer-title {
    font-size: 24px;
    margin-bottom: 38px;
  }
  .footer-right-box {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
  }
  .form-content {
    width: 336px;
  }
  .form-content-text {
    width: 704px;
  }
  .footer-title-item {
    font-size: 24px;
  }
  .footer-about {
    font-size: 16px;
    line-height: 1.18;
  }
  .footer-contacts {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1279px) {
  .footer-left-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  footer {
    padding-top: 80px;
  }
  .footer-title {
    margin-bottom: 80px;
  }
  .form-content {
    width: 288px;
  }
  .form-content-text {
    width: 608px;
  }
  .footer-right-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px 32px;
  }

  .footer-box {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-about {
    margin-bottom: 20px;
  }
  .soc-box {
    margin-bottom: 20px;
  }
  .footer-btn {
    margin-left: auto;
    margin-right: 0;
  }
}
/* ====================modal window================== */
.dackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #35253e;
  z-index: 100;
  transition: opacity 2000ms ease, visability 2000ms ease;
}
.dackdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-window {
  padding: 36px 40px;
  width: 538px;
  height: 936px;
  background: var(--hero);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-btn-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 20px;
  margin-right: 20px;
  background-color: transparent;
  border: none;
  transition: transform 500ms linear;
}
.modal-btn-close:hover,
.modal-btn-close:focus {
  transform: scale(1.5);
  box-shadow: 0px 0px 8px -1px #5e3174;
}
/* ==================modal list================ */
@media screen and (min-width: 320px) {
  .modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: var(--main);
  }
}

@media screen and (min-width: 786px) {
  .modal-title {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 28px;
  }
  .download-list {
  }
  .mod-wrapp {
    display: flex;
    justify-content: space-between;
    gap: 22px;
  }
  .mod-wrapp-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .download-list-page {
    border: 1px solid red;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }
  .download-list-name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--main);
  }
  .download-list-item {
    font-size: 14px;
    line-height: 24px;
    color: var(--main);
    width: 154px;
  }
  .download-list-item:not(:last-child) {
    margin-bottom: 12px;
  }
  .download-list-item::before {
    content: "";
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 14px;
    height: 14px;
    fill: var(--main);
    margin-right: 4px;
  }
}
.modal-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #ffffff;
}
